nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 0;
    display: grid;
    place-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: none;
        }

        ul {
            display: flex;
            gap: 3rem;
            align-items: center;

            li {
                a {
                    color: $secondary-color;
                    font-weight: 400;
                    font-size: 1rem;
                    display: inline-block;
                    position: relative;
                    transition: all 0.3s linear;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 3px;
                        bottom: -10px;
                        left: auto;
                        right: 0;
                        background-color: $primary-color;
                        transform-origin: bottom left;
                        transition: all 0.3s linear;
                    }

                    &:hover::after {
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }

        .nav__logo {
            width: 3rem;
            height: 3rem;
        }
    }
}



/*============ Medium Devices ============*/
// @media screen and (max-width: 1024px) {
//     header {
//         ul {
//             display: none;
//         }
//     }
// }